<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878643005566-u55enme0je4j3t0davjmckk9lg1gnc4i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878643005566-u55enme0je4j3t0davjmckk9lg1gnc4i</string>
	<key>API_KEY</key>
	<string>AIzaSyALhfGim0xIMev0PqK3XgigZ2uZkiR5ZFY</string>
	<key>GCM_SENDER_ID</key>
	<string>878643005566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.acFinal</string>
	<key>PROJECT_ID</key>
	<string>aneescasting-ec184</string>
	<key>STORAGE_BUCKET</key>
	<string>aneescasting-ec184.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878643005566:ios:8d24587ca2f287f1b9302f</string>
</dict>
</plist>